<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    @* <link rel="stylesheet" href="~/css/layout.css asp-append-version="true" /> *@
    <link href="~/css/layout.css" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap" rel="stylesheet" />

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="~/js/burger.js"></script>
	
</head>
<body>
    @* <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MVC</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header> *@







	<header>
		<div class="container">
			<div class="header-top">
				<div class="logo">
					<img src="~/img/mainlogo.png" alt="" />
				</div>

				<div class="facebook">
					<a style="display: flex" target="_blank" href="https://www.facebook.com/%D0%A1-%D0%9E%D0%9E%D0%9E-%D0%97%D0%9E%D0%92-%D0%9F%D1%80%D0%BE%D1%84%D0%B8%D0%BB%D1%8C-150153668848633/">
						<img src="~/img/facebook.svg" alt="" />
					</a>
				</div>
				<div class="instagram">
					<a style="display: flex" target="_blank" href="https://www.instagram.com/omcprofil.by/">
						<img src="~/img/instagram.svg" alt="" />
					</a>
				</div>
				<div class="telegram">
					<a style="display: flex" target="_blank" href="https://t.me/OMC_Profil">
						<img src="~/img/telegram.svg" alt="" />
					</a>
				</div>
				<div class="number">
					<img src="~/img/whatsapp.svg" alt="" />
					<div style="margin: auto;">+375 (152) 60-81-63</div>
				</div>

				<a href="https://wellmaker.deal.by/" onclick="ymetr()" target="_blank">
					<div class="button-shop">
						<img src="~/img/cart.png" alt="" />
						<div style="margin: auto;">ИНТЕРНЕТ-МАГАЗИН</div>
					</div>
				</a>

				<div class="button-contact" id="button-contact" onclick="showModal()">
					<img src="~/img/letter.png" alt="" />
					<div style="margin: auto;">НАПИСАТЬ</div>
				</div>


				<div class="header-burger">
					<span></span>
				</div>

				<div class="menu-overlay">
					<div class="menu">
						<ul>
							<li class="menu-mobile"><a href="@Url.Action("News", "Nav")">Новости</a></li>
							<li class="menu-tablet"><a href="@Url.Action("About", "Nav")">О компании</a></li>
							<li class="menu-tablet"><a href="@Url.Action("Contacts", "Nav")">Контакты</a></li>
							<li class="but menu-buttons">
								<a href="https://wellmaker.deal.by/" onclick="ymetr()" target="_blank" style="display: flex; flex-direction: row;">
									<img src="~/img/cart.png" alt="" />
									<div style="color: white">ИНТЕРНЕТ-МАГАЗИН</div>
								</a>
							</li>
							<li class="but menu-buttons" onclick="showModal()">
								<img src="~/img/letter.png" alt="" />
								<div style="color: white;">НАПИСАТЬ</div>
							</li>
							<li><a href="#">+375 (152) 60-81-63</a></li>
							<li>
								<a target="_blank" href="https://www.facebook.com/%D0%A1-%D0%9E%D0%9E%D0%9E-%D0%97%D0%9E%D0%92-%D0%9F%D1%80%D0%BE%D1%84%D0%B8%D0%BB%D1%8C-150153668848633/">
									<img src="~/img/facebook.svg" alt="" />
								</a>
								<a target="_blank" href="https://www.instagram.com/omcprofil.by/">
									<img src="~/img/instagram.svg" alt="" />
								</a>
								<a target="_blank" href="https://t.me/OMC_Profil">
									<img src="~/img/telegram.svg" alt="" />
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>



			<div class="menu">
				<a href="@Url.Action("Main", "Nav")" class="item">
					<div class="nav-main" runat="server">Главная</div>
				</a>
				<a href="@Url.Action("Production", "Catalog")" class="item">
					<div class="nav-catalog" runat="server">Каталог</div>
				</a>
				<a href="@Url.Action("News", "Nav")" class="item mobile">
					<div class="nav-news" runat="server">Новости</div>
				</a>
				<a href="@Url.Action("WhereToBuy", "Nav")" class="item">
					<div class="nav-wheretobuy" runat="server">Где купить</div>
				</a>
				<a href="@Url.Action("Downloads", "Nav")" class="item">
					<div class="nav-clients" runat="server">Клиентам</div>
				</a>
				<a href="@Url.Action("About", "Nav")" class="item tablet mobile">
					<div class="nav-about" runat="server">О компании</div>
				</a>
				<a href="@Url.Action("Contacts", "Nav")" class="item tablet mobile">
					<div class="nav-contacts" runat="server">Контакты</div>
				</a>
			</div>
		</div>
	</header>












    @* <div class="container"> *@
        <main role="main" class="pb-3" style="flex: 1;">
            @RenderBody()
        </main>
    @* </div> *@

    <footer>
        <div class="container">
            <div class="footer">
                <div class="links">
                    <ul>
						<li><a href="@Url.Action("Main", "Nav")">Главная</a></li>
						<li><a href="@Url.Action("Contact", "Nav")s">Контакты</a></li>
						<li><a href="@Url.Action("Wheretobuy", "Nav")">Где купить</a></li>
                    </ul>
                </div>
                <div class="social">
                    <span>Мы в соцсетях:</span>
                    <div class="soc">
                        <a target="_blank" href="https://www.facebook.com/%D0%A1-%D0%9E%D0%9E%D0%9E-%D0%97%D0%9E%D0%92-%D0%9F%D1%80%D0%BE%D1%84%D0%B8%D0%BB%D1%8C-150153668848633/"><img src="~/img/facebook.svg" alt=""></a>
                        <a target="_blank" href="https://www.instagram.com/omcprofil.by/"><img src="~/img/instagram.svg" alt=""></a>
                        <a target="_blank" href="https://t.me/OMC_Profil"><img src="~/img/telegram.svg" alt=""></a>
                    </div>
                </div>
                <div class="copyright">2017-2024 © ООО "ОМЦ-Профиль"</div>
                <div></div>
                <div class="address">
                    <span>Адрес фабрики и склада</span>
                    <span>ул. Герасимовича, 1-3</span>
                    <span>230011 г. Гродно</span>
                    <span>Республика Беларусь</span>
                </div>
            </div>
        </div>
    </footer>


    <div id="MessageDialogModal" class="modal">
        <div class="modal-content">
            <form id="contactForm" method="post" action="/Nav/SendEmail">
                @Html.AntiForgeryToken() <!-- Генерация CSRF токена -->
                <div class="info">
                    <div class="info-block">
                        <span class="text-span">ФИО*</span>
                        <input id="NameInput" type="text" class="name-input" />
                    </div>
                    <div class="info-block">
                        <span class="text-span">Название компании</span>
                        <input id="CompanyInput" type="text" class="name-input" />
                    </div>
                </div>
                <div class="info">
                    <div class="info-block">
                        <span class="text-span">Email*</span>
                        <input id="EmailInput" type="text" class="name-input" />
                    </div>
                    <div class="info-block">
                        <span class="text-span">Телефон</span>
                        <input id="PhoneInput" type="text" class="name-input" />
                    </div>
                </div>
                <div style="clear:left; margin-top:20px">
                    <span class="text-span">Тип компании*</span>
                    <div class="radio-wrapper">
                        <div class="radio-button">
                            <input type="radio" id="FRadio" name="type" value="F" checked="checked" />
                            <label for="PersonRadio" style="font-family:OpenSans-Regular; font-size:15px; font-weight:100; margin-left:5px;">Физ. лицо</label>
                        </div>
                        <div class="radio-button">
                            <input type="radio" id="RRadio" name="type" value="R" />
                            <label for="PersonRadio" style="font-family:OpenSans-Regular; font-size:15px; font-weight:100; margin-left:5px;">Розница</label>
                        </div>
                        <div class="radio-button">
                            <input type="radio" id="MRadio" name="type" value="M" />
                            <label for="PersonRadio" style="font-family:OpenSans-Regular; font-size:15px; font-weight:100; margin-left:5px;">Мелкий опт</label>
                        </div>
                        <div class="radio-button">
                            <input type="radio" id="KRadio" name="type" value="K" />
                            <label for="PersonRadio" style="font-family:OpenSans-Regular; font-size:15px; font-weight:100; margin-left:5px;">Крупный опт</label>
                        </div>
                        <div class="radio-button">
                            <input type="radio" id="DRadio" name="type" value="D" />
                            <label for="PersonRadio" style="font-family:OpenSans-Regular; font-size:15px; font-weight:100; margin-left:5px;">Диз. студия</label>
                        </div>
                    </div>

                </div>
                <div style="clear:left; margin-top:20px">
                    <span class="text-span">Интересующая продукция*</span>
                    <div class="radio-wrapper">
                        <div class="radio-button">
                            <input type="radio" id="PRadio" name="prod" value="P" checked="checked" />
                            <label for="PersonRadio" style="font-family:OpenSans-Regular; font-size:15px; font-weight:100; margin-left:5px;">Профиль</label>
                        </div>
                        <div class="radio-button">
                            <input type="radio" id="FrRadio" name="prod" value="Fr" />
                            <label for="PersonRadio" style="font-family:OpenSans-Regular; font-size:15px; font-weight:100; margin-left:5px;">Фасады</label>
                        </div>
                        <div class="radio-button">
                            <input type="radio" id="MeRadio" name="prod" value="Me" />
                            <label for="PersonRadio" style="font-family:OpenSans-Regular; font-size:15px; font-weight:100; margin-left:5px;">Мебель</label>
                        </div>
                        <div class="radio-button">
                            <input type="radio" id="IRadio" name="prod" value="I" />
                            <label for="PersonRadio" style="font-family:OpenSans-Regular; font-size:15px; font-weight:100; margin-left:5px;">Интерьерные панели</label>
                        </div>
                    </div>
                </div>
                <div style="clear:left">
                    <span style="display:block; margin-top:10px">Текст</span>
                    <textarea id="TextInput" class="text-input"></textarea>
                </div>

                <div style="padding-top:15px; text-align:center; width:100%;">
                    <div style="display:inline-block">
                        <div id="SendButton" class="sendbutton" onclick="SendMessage()">Отправить</div>
                        <span class="cancelbutton" onclick="hideModal()">Отмена</span>
                    </div>
                </div>
            </form>
        </div>
    </div>


	<script>
        function SendMessage() {

            var name = document.getElementById("NameInput").value;
            var company = document.getElementById("CompanyInput").value;
            var email = document.getElementById("EmailInput").value;
            var phone = document.getElementById("PhoneInput").value;
            var type = document.querySelector('input[name="type"]:checked').value;
            var product = document.querySelector('input[name="prod"]:checked').value;
            var text = document.getElementById("TextInput").value;


            if (!name || !email) {
                alert("Пожалуйста, заполните обязательные поля: ФИО и Email");
                return;
            }

            var data = {
                Name: name,
                Company: company,
                Email: email,
                Phone: phone,
                Type: type,
                Product: product,
                Text: text
            };

            fetch('/Nav/SendEmail', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'RequestVerificationToken': document.querySelector('input[name="__RequestVerificationToken"]').value // CSRF защита
                },
                body: JSON.stringify(data)
            }).then(response => {
                if (response.ok) {
                    alert('Сообщение отправлено успешно!');
                    hideModal();
                } else {
                    alert('Произошла ошибка при отправке сообщения.');
                }
            }).catch(error => {
                console.error('Ошибка:', error);
                alert('Произошла ошибка при отправке сообщения.');
            });
        }

        function hideModal() {
            document.getElementById('MessageDialogModal').style.display = 'none';
        }

		function showModal() {
			console.log("showModal");
			var modal = document.getElementById("MessageDialogModal");
			modal.style.display = "block";

			$('.header-burger, .menu-overlay').removeClass('active');
			}
	</script>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
